# Ciência de Dados

# Big Data Real-Time Analytics com Python e Spark

# Capítulo 2

### Estruturas depreciadas no exemplo, refazer download e rever algum dia

# Estruturas de Dados em Pandas



pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

# Panel

In [19]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [20]:
data = np.random.randint(1, 10, (5, 3, 2))

In [21]:
pd.__version__

'1.0.1'

In [22]:
data

array([[[5, 9],
        [2, 8],
        [8, 4]],

       [[9, 7],
        [9, 2],
        [4, 3]],

       [[1, 7],
        [2, 8],
        [5, 9]],

       [[3, 5],
        [2, 6],
        [4, 6]],

       [[2, 4],
        [5, 3],
        [2, 5]]])

In [23]:
pd.__version__

'1.0.1'

In [24]:
data = data.reshape(5, 6).T

In [25]:
df = pd.DataFrame(
    data = data,
    index = pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns = ['item {}'.format(i) for i in range(1, 6)])

In [26]:
df

         item 1  item 2  item 3  item 4  item 5
2015 US       5       9       1       3       2
     UK       9       7       7       5       4
2016 US       2       9       2       2       5
     UK       8       2       8       6       3
2017 US       8       4       5       4       2
     UK       4       3       9       6       5

## Criando objetos multidimensionais com Panel

In [27]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [28]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [29]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [30]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [31]:
US_ChinaData = {'US' : USData,
                'China': ChinaData}

In [32]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

In [33]:
pd.Panel(US_ChinaData)

TypeError: Panel() takes no arguments

In [34]:
type(pd.Panel(US_ChinaData))

TypeError: Panel() takes no arguments

## Convertendo DataFrame para Panel

In [35]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

TypeError: __new__() got an unexpected keyword argument 'labels'

In [36]:
mIdx

NameError: name 'mIdx' is not defined

In [37]:
ChinaUSDF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 249.62, 282.16,309.35], 
                          'PIB($B)': [390.28, 1198.48, 6988.47, 8900,12680,14940]}, 
                         index = mIdx)

NameError: name 'mIdx' is not defined

In [38]:
ChinaUSDF

NameError: name 'ChinaUSDF' is not defined

In [39]:
# ChinaUSDF.to_panel()
!pip install xarray

Collecting xarray
  Using cached xarray-0.15.1-py3-none-any.whl (668 kB)
Requirement already satisfied: numpy>=1.15 in /Users/uchidate/opt/anaconda3/lib/python3.7/site-packages (from xarray) (1.18.1)
Requirement already satisfied: pandas>=0.25 in /Users/uchidate/opt/anaconda3/lib/python3.7/site-packages (from xarray) (1.0.1)
Requirement already satisfied: setuptools>=41.2 in /Users/uchidate/opt/anaconda3/lib/python3.7/site-packages (from xarray) (46.0.0.post20200309)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/uchidate/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25->xarray) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/uchidate/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25->xarray) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/uchidate/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.25->xarray) (1.14.0)
Installing collected packages: xarray
Successfully installed xarray-0.15.1

In [40]:
ChinaUSDF.to_xarray()

NameError: name 'ChinaUSDF' is not defined

# Fim